<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel = "stylesheet" href = "/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <div id = 'header'>
        <ul>

                <li><h1>Photogallery</h1></li>
                {{#if user}}
                    <li><a href="/search"><i class="fa fa-search"></i></a></li>
                    <li><a href = "/profile"><i class="material-icons">person</i></a></li>
                    <li><a href = "/"><i class = "fa fa-home"></i></a></li>
                {{else}}
                    <li><a href = "/register" style="font-size: 1.1em; margin-top : 29px; border-radius : 30px;">Register</a></li>
                    <li><a href = "/login" style="font-size: 1.1em; margin-top : 29px; border-radius : 30px;">Login</a></li>
                    <li><a href = "/"><i class = "fa fa-home"></i></a></li>
                {{/if}}

        </ul>
    </div>
    <div id = "home_page">
        <p class="p2">Create <br>your own <br>Photogallery</p>
    </div>
    <div id="footer" style="margin-top:0;">
        
    </div>
</body>
</html>